@model IEnumerable<iTEMS.Models.Project>

@{
    ViewData["Title"] = "Projects List";
}

<div class="card-body" style="display:none">
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New Project</a>
    </p>
    <table @* id="example1" *@ class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Project Title
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PIC)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Budget)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Update)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Blocker)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PIC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Budget)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Update)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Blocker)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
</div>




<br />
<br />
<br />

<div class="card-header">
    <h3 style="font-family:Tahoma">Projects</h3>
</div>

<div class="card-body">
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New Project</a>
    </p>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal" style="font-family:Tahoma">@Html.DisplayFor(modelItem => item.Name)</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <strong>Person in Charge:</strong> @Html.DisplayFor(modelItem => item.PIC) <br />
                            <strong>Latest Update:</strong> @Html.DisplayFor(modelItem => item.Update) <br />
                            <strong>Update Date:</strong> @item.ModifiedOn.ToString("dd - MMMM - yyyy") <br />
                            <strong>Status:</strong>
                            @if (item.Status == ProjectStatus.Planning)
                            {
                                <span class="badge badge-info">@Html.DisplayFor(modelItem => item.Status)</span>
                            }
                            else if (item.Status == ProjectStatus.Completed)
                            {
                                <span class="badge badge-success">@Html.DisplayFor(modelItem => item.Status)</span>
                            }
                            else if (item.Status == ProjectStatus.Pending)
                            {
                                <span class="badge" style="background-color: #4b0082; color: white;">@Html.DisplayFor(modelItem => item.Status)</span>
                            }
                            else if (item.Status == ProjectStatus.Blocked)
                            {
                                <span class="badge badge-danger">@Html.DisplayFor(modelItem => item.Status)</span>
                            }
                            else if (item.Status == ProjectStatus.Delayed)
                            {
                                <span class="badge badge-warning">@Html.DisplayFor(modelItem => item.Status)</span>
                            }
                        </p>
                        <p>
                            <strong>Attachments:</strong>
                            @if (item.Attachments != null && item.Attachments.Any())
                            {
                                foreach (var filePath in item.Attachments)
                                {
                                    <a href="@Url.Action("DownloadFile", "Projects", new { id = item.Id, fileName = @System.IO.Path.GetFileName(filePath) })" download="@System.IO.Path.GetFileName(filePath)">
                                        @System.IO.Path.GetFileName(filePath)
                                    </a>
                                    <br />
                                }
                            }
                            else
                            {
                                <span>No files uploaded</span>
                            }
                        </p>
                    </div>

                    <div class="card-footer d-flex justify-content-end">
                        <div class="btn-group" style="align-items:center">
                            <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id" title="View Project Details">
                                <i class="fas fa-folder"></i>&nbsp;&nbsp;&nbsp;View Project Details
                            </a>
                            <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@item.Id" title="Update Project Details">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id" title="Delete Project">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

