@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <style>
        /* Add these styles to define the light and dark themes */
        .dark-mode .navbar {
            background-color: #343a40; /* Dark theme background color */
            color: white; /* Dark theme text color */
        }

        .dark-mode .sidebar-dark-primary {
            background-color: #343a40; /* Dark theme sidebar background color */
        }

            .dark-mode .sidebar-dark-primary .brand-link:not([class*=navbar]) {
                background-color: #343a40 !important; /* Dark theme sidebar background color */
            }

        .dark-mode .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #343a40;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center; /* Dark theme footer background color */
        }

        .dark-mode .footer .container {
            color: #d4edda; /* Dark theme footer background color */
        }

            .dark-mode .footer .container a{
                color: #007bff; /* Dark theme footer background color */
            }

        /* Add other dark mode styles here */

        /* Add light theme styles */
        .navbar {
            background-color: #007bff; /* Light theme background color */
            color: white; /* Light theme text color */
        }

        .sidebar-dark-primary {
            background-color: #007bff; /* Light theme sidebar background color */
        }

        .layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*=navbar]) {
            background-color: #007bff; /* Light theme sidebar background color */
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #007bff;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center; /* Dark theme footer background color */
        }

        .footer .container {
            color: #333; /* Dark theme footer background color */
        }

            .footer .container a{
                color: black; /* Dark theme footer background color */
            }

        .nav-sidebar .nav-link {
            color: #333; /* Light theme sidebar link text color */
        }

            .nav-sidebar .nav-link:hover {
                background-color: #e9ecef; /* Light theme sidebar link hover background color */
            }

        /* Add other light mode styles here */

        .notification-unopened {
            background-color: #f8d7da; /* Light red background for unopened notifications */
        }

        .notification-opened {
            background-color: #d4edda; /* Light green background for opened notifications */
        }

        .transparent-btn {
            background-color: transparent;
            border-color: transparent;
        }
    </style>
</head>
<body class="hold-transition dark-mode sidebar-mini sidebar-collapse layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="~/assets/innotechlogo-circle.png" alt="AdminLTELogo" height="60" width="60">
        </div>
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Add the toggle button here -->
                <li class="nav-item">
                    <button id="darkModeBtn" class="nav-link btn btn-link" style="color: white;" title="Switch to Dark Mode">
                        <i class="fas fa-moon"></i>
                    </button>
                </li>
                <!-- Add the light mode button here -->
                <li class="nav-item">
                    <button id="lightModeBtn" class="nav-link btn btn-link" style="color: white;" title="Switch to Light Mode">
                        <i class="fas fa-sun"></i>
                    </button>
                </li>
                <li class="nav-item dropdown">
                   <a class="nav-link" data-toggle="dropdown" href="#" style="color: white;" onmouseover="this.style.backgroundColor='#000000';" onmouseout="this.style.backgroundColor='transparent';">
                        <i class="far fa-bell"></i>
                        @if (ViewBag.Notifications != null && ((List<Notification>)ViewBag.Notifications).Any(n => !n.IsOpened && n.UserName == User.Identity.Name))
                        {
                            <span class="badge badge-warning navbar-badge">New</span>
                        }
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="max-height: 300px; overflow-y: auto;">
                        <span class="dropdown-item dropdown-header">Notifications</span>
                        <div class="dropdown-divider"></div>
                        @if (ViewBag.Notifications != null && ViewBag.Notifications.Count > 0)
                        {
                            @foreach (var notification in ViewBag.Notifications)
                            {
                                if (notification.UserName == User.Identity.Name)
                                {
                                    var notificationClass = notification.IsOpened ? "notification-opened" : "notification-unopened";

                                    <div id="notification-@notification.Id" class="dropdown-item @notificationClass" style="word-wrap: break-word; white-space: normal; overflow: hidden; text-overflow: ellipsis;">
                                        <a href="TaskTrackers" class="notification-link" onclick="notificationClicked('@notification.Id')">
                                            <span class="float-left text-muted text-sm">@notification.Timestamp.ToString("MMM dd, yyyy")</span>
                                            <br />
                                            <i class="fas fa-envelope mr-2"></i> @notification.Message
                                        </a>
                                        <button type="button" class="btn btn-sm float-right transparent-btn" onclick="deleteNotification('@notification.Id')" title="Delete Notification">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <span class="dropdown-item">No notifications</span>
                        }
                    </div>
                </li>
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                        <li>
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Account/Login", new { area = "" })" method="post">
                                <button type="submit" class="nav-link btn btn-link text-dark" title="Logout" style="color: white;" onmouseover="this.style.backgroundColor='#000000';" onmouseout="this.style.backgroundColor='transparent';"><i class="fa-solid fa-power-off"></i></button>
                            </form>
                        </li>
                }
        </nav>

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="~/Dashboard" class="brand-link">             
                <img src="~/assets/innotech logo.jpeg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">iTEMS</span>
            </a>
            
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex align-items-center">
                    <div class="image">
                        <img src="~/assets/user_profile_image.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage Profile">
                                <span>Hello, @User.Identity.Name</span>
                            </a>
                        }
                        else
                        {
                            <span>Guest</span>
                        }
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                             
                        <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                            <i class="fa-solid fa-gauge"></i>
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;Dashboard
                            </p>
                        </a>
                        <a class="nav-link" asp-controller="Employees" asp-action="Index">
                            <i class="fa-solid fa-people-group mr-2"></i>
                            <p>
                                Team Members
                            </p>
                        </a>
                        <a class="nav-link" asp-controller="TaskTrackers" asp-action="Index">
                            <i class="fa-solid fa-list-check"></i>
                            <p>
                                &nbsp;&nbsp;&nbsp;Task Tracker
                            </p>
                        </a>
                        <a class="nav-link" asp-controller="Projects" asp-action="Index">
                            <i class="fa-solid fa-folder-tree"></i>
                            <p>
                                &nbsp;&nbsp;&nbsp;Projects
                            </p>
                        </a>
                        @if (User.IsInRole("Super Admin"))
                        {
                            <li class="nav-item menu-close">
                                <a href="#" class="nav-link">
                                    <i class="fa-solid fa-users-gear"></i>&nbsp;&nbsp;
                                    <p>
                                        Role Settings
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Roles" asp-action="Index">&nbsp;&nbsp;&nbsp;<i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Add or Remove Role </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Employees" asp-action="AssignRole">&nbsp;&nbsp;&nbsp;<i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Assign Role</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Roles" asp-action="UserRoles">&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-user-gear"></i>&nbsp;&nbsp;&nbsp;Assigned Roles</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </aside>
    </div>

    @* <partial name="_LoginPartial" /> *@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <br />
    <br />
    <footer class="footer text-muted">
        <div class="container" style="text-align: center;">
            &copy; 2024 Powered by InnotechLabs. All rights reserved - iTEMS | <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE/dist/js/adminlte.js"></script>

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="~/AdminLTE/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/AdminLTE/plugins/raphael/raphael.min.js"></script>
    <script src="~/AdminLTE/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/AdminLTE/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="~/AdminLTE/plugins/chart.js/Chart.min.js"></script>

    <!-- DataTables  & Plugins -->
    <script src="~/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/AdminLTE/plugins/jszip/jszip.min.js"></script>
    <script src="~/AdminLTE/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/AdminLTE/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": true, "autoWidth": true,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "responsive": true,
            });
        });

        $(function () {
            $("#dashboard1").DataTable({
                "responsive": true, "lengthChange": true, "autoWidth": true,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#dashboard1_wrapper .col-md-6:eq(0)');
            $('#dashboard2').DataTable({
                "paging": false,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "responsive": true,
            });
            $('#dashboard3').DataTable({
                "paging": false,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "responsive": true,
            });
            $('#dashboard4').DataTable({
                "paging": false,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "responsive": true,
            });
        });

        $(document).ready(function () {
            // Function to apply the theme
            function applyTheme(theme) {
                if (theme === 'dark') {
                    $('body').addClass('dark-mode');
                } else {
                    $('body').removeClass('dark-mode');
                }
            }

            // Apply theme on page load
            applyTheme(localStorage.getItem('theme') || 'light');

            // Switch back to light mode specifically
            $('#lightModeBtn').click(function () {
                applyTheme('light');
                localStorage.setItem('theme', 'light');
            });

            // Switch back to dark mode specifically
            $('#darkModeBtn').click(function () {
                applyTheme('dark');
                localStorage.setItem('theme', 'dark');
            });
        });

        function notificationClicked(notificationId) {
            // Make an AJAX request to mark the notification as opened
            $.ajax({
                url: '/Notifications/MarkAsOpened',
                type: 'POST',
                data: {
                    id: notificationId,
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                },
                success: function (response) {
                    // Handle success response
                    console.log("Notification marked as opened successfully!");

                    // Change the UI to reflect the notification has been opened
                    var notificationElement = $('#notification-' + notificationId);
                    notificationElement.removeClass('notification-unopened').addClass('notification-opened');
                },
                error: function (xhr, status, error) {
                    // Handle error response
                    console.error(error);
                }
            });
        }

        function deleteNotification(notificationId) {
            // Make an AJAX request to delete the notification
            $.ajax({
                url: '/Notifications/Delete/' + notificationId,
                type: 'POST',
                data: {
                    id: notificationId,
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                },
                success: function (response) {
                    // Handle success response
                    console.log("Notification deleted successfully!");

                    // Remove the notification from the UI
                    $('#notification-' + notificationId).remove();
                },
                error: function (xhr, status, error) {
                    // Handle error response
                    console.error(error);
                }
            });
        }
    </script>
</body>
</html>
















