@page
@using iTEMS.ViewModels
@model DashboardViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>iTEMS - Home</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #D5FDD5;
        }

        .navbar {
            padding: 10px 20px;
        }

        .navbar-brand {
            font-size: 24px;
        }

        .nav-item {
            margin-left: 20px;
        }

        .carousel-inner img {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100% - 70px); /* Adjust height to account for navbar */
        }

        .slider-container {
            position: relative;
            width: 100%;
            max-width: 1000px;
            margin: auto;
            overflow: hidden;            
        }

        .slides {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .slide {
            min-width: 100%;
            box-sizing: border-box;
        }

        .slider-container img {
            width: 100%;
            display: block;
        }

        .prev, .next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
        }

        .prev {
            left: 10px;
        }

        .next {
            right: 10px;
        }

        .carousel-indicators {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }

        .carousel-indicators button {
            border: none;
            background-color: gray;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 5px;
            cursor: pointer;
        }

        .carousel-indicators .active {
            background-color: black;
        }

        .nav-link.btn {
            font-size: 18px;
            padding: 10px 20px;
            margin: 5px;
            border-radius: 5px;
            white-space: nowrap;
        }

        .nav-link.btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .nav-link.btn-secondary {
            background-color: #6c757d;
            border-color: #6c757d;
        }

        .nav-link.btn-primary:hover, .nav-link.btn-secondary:hover {
            opacity: 0.8;
        }

        .indent-top {
            padding-top: 25px;
        }

        .margin-bot4 {
            margin bottom: 30px;
        }

        .grid_9 {
            display: inline;
            float: left;
            position: relative;
            margin-left: 75px;
            margin-right: 5px;
            padding-bottom: 25px;
        }

        .margin-bot2 {
            margin-bottom: 15px;
        }

        .box-content {
            background: #f9f9f9;
            width: 900px;
            overflow: hidden;
            border-radius: 11px;
        }

        .col-6 {
            width: calc(48% - 10px); /* Adjust width as needed, considering margin */
            display: inline-block; /* Display inline-block */
            vertical-align: top; /* Align to the top */
            margin-right: 20px; /* Adjust margin between columns */
            margin-bottom: 20px; /* Adjust margin bottom as needed */
            box-sizing: border-box; /* Ensure padding and border don't add to the width */
            /* Optionally, you can use float instead of inline-block */
            /* float: left; */
        }

        .letterA {
            width: 50px;
            height: 50px;
            background: url(https://innotechlabs.com.my/images/letter1A.png) left top no-repeat;
            overflow: hidden;
            font-size: 30px;
            line-height: 50px;
            text-align: center;
            margin: 10px 10px 0 0;
            float: left;
            text-transform: uppercase;
            color: #fff;
            font-weight: bold;
        }

        .indent-top2 {
            padding-top: 10px;
        }

        .extra-wrap {
            overflow: hidden;
        }

        .h5 {
            font-size: 21px;
            line-height: 26px;
            color: #464646;
            display: block;
            font-weight: 400;
            font-family: 'Signika', sans-serif;
            font-style: normal;
        }

        .margin-bot3 {
            margin-bottom: 10px;
            text-align: justify;
        }

        .button-2 {
            display: inline-block;
            background: url(https://innotechlabs.com.my/images/button-2.png) right 7px no-repeat;
            padding: 0 18px 0 0;
            font-size: 18px;
            line-height: 22px;
            color: #adcb08;
            font-weight: 400;
            font-family: 'Signika', sans-serif;
        }

        .letterB {
            width: 50px;
            height: 50px;
            background: url(https://innotechlabs.com.my/images/letter2A.png) left top no-repeat;
            overflow: hidden;
            font-size: 30px;
            line-height: 50px;
            text-align: center;
            margin: 10px 10px 0 0;
            float: left;
            text-transform: uppercase;
            color: #fff;
            font-weight: bold;
        }

        .grid_3 {
            display: inline;
            float: right;
            position: relative;
            padding-bottom: 25px;
            width: calc(33% - 15px);
        }

        .box-content2 {
            background: #f9f9f9;
            width: 400px;
            overflow: hidden;
            border-radius: 11px;
        }

        .col-10 {
            /* width: calc(48% - 10px); */ /* Adjust width as needed, considering margin */
            display: inline-block; /* Display inline-block */
            vertical-align: top; /* Align to the top */
            margin-right: 20px; /* Adjust margin between columns */
            margin-bottom: 20px; /* Adjust margin bottom as needed */
            box-sizing: border-box; /* Ensure padding and border don't add to the width */
            /* Optionally, you can use float instead of inline-block */
            /* float: left; */
        }

        .slider-container2 {
            position: relative;
            width: 100%;
            max-width: 1000px;
            margin: auto;
            overflow: hidden;
        }

        .slides2 {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .slide2 {
            min-width: 100%;
            box-sizing: border-box;
        }

        .slider-container2 img {
            width: 100%;
            display: block;
        }

        .carousel-indicators2 {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }

            .carousel-indicators2 button {
                border: none;
                background-color: gray;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin: 5px;
                cursor: pointer;
            }

            .carousel-indicators2 .active {
                background-color: black;
            }

        .footer {            
            padding: 20px 0;
            color: #555;
        }

            .footer .container {
                background-color: #CBFDCB;
                text-align: center;
                height: 100%;
                padding: 30px;
            }

            .footer a {
                color: #555;
            }

                .footer a:hover {
                    color: #333;
                }

        .footer-about li {
            list-style: none;
            text-align: justify;
            padding-top: 20px;
        }

        .footer-widget ul {
            width: 50%;
            float: left;
        }

        .footer-widget a {
            text-decoration: none;
        }

        .info-icons {
            padding-top: 15px;
        }

        .info-icons li {
            list-style: none;
            padding-top: 5px;
        }

        .social-icons h5 {
            padding-bottom: 15px;
        }

        .link-1 a, .link-2 a, .link-3 a, .link-4 a {
            text-decoration: none;
        }

        .bg-secondary {
            background-color: #C1FCC1 !important;
        }

        @@media (max-width: 767.98px) {
            .navbar {
                text-align: center;
            }
            .navbar-collapse {
                flex-direction: column;
            }
           
            .navbar-nav {
                width: 100%;
            }
            .nav-item {
                margin-left: 0;
                margin-top: 10px;
            }
            .nav-link.btn {
                width: 100%;
                font-size: 16px;
                padding: 8px;
            }
        }
    </style>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/Assets/Company Logo.png" alt="Logo" width="250" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link btn btn-primary text-white" asp-area="Identity" asp-page="/Account/Login">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-secondary text-white" asp-area="Identity" asp-page="/Account/Register">
                        <i class="fas fa-user-plus"></i> Sign Up
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Container for the slider -->
    <div class="slider-container">
        <div class="slides">
            <div class="slide">
                <img src="/Assets/Project1.jpeg" width="1000" height="660" alt="Slide 1">
            </div>
            <div class="slide">
                <img src="/Assets/Project2.jpg" width="1000" height="660" alt="Slide 2">
            </div>
            <div class="slide">
                <img src="/Assets/Project3.jpg" width="1000" height="660" alt="Slide 3">
            </div>
            <div class="slide">
                <img src="/Assets/Project4.jpg" width="1000" height="660" alt="Slide 4">
            </div>
            <div class="slide">
                <img src="/Assets/Project5.jpg" width="1200" height="662" alt="Slide 5">
            </div>
        </div>
        <button class="prev" onclick="moveSlide(-1)">❮</button>
        <button class="next" onclick="moveSlide(1)">❯</button>

        <div class="carousel-indicators">
            <button class="active" onclick="currentSlide(1)"></button>
            <button onclick="currentSlide(2)"></button>
            <button onclick="currentSlide(3)"></button>
            <button onclick="currentSlide(4)"></button>
            <button onclick="currentSlide(5)"></button>
        </div>
    </div>

    <!-- First Content -->
    <div class="container_12 indent-top">
        <div class="wrapper indent-top1 margin-bot4">
        <article class="grid_9">
            <h3 class="margin-bot2">Welcome</h3>
            <div class="box-content">
                <div class="wrapper">
                    <div class="col-6">
                        <div class="letterA">a</div>
                        <div class="extra-wrap indent-top2">
                            <span class="h5">About</span>
                            <span class="h5 margin-bot3">Innotech Labs</span>
                            <p class="margin-bot3">Innotech Labs Sdn Bhd was incorporated in 9 November 2000, since then it has been intensively engage in providing quality product of services to a leading corporate giant in the energy industry, TNB, University Kuala Lumpur (MFI & MIAT), Government Sectors and few others education institutes.</p>
                            <a href="#" class="button-2">Read More</a>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="letterB">b</div>
                        <div class="extra-wrap indent-top2">
                            <span class="h5">About</span>
                            <span class="h5 margin-bot3">Innotech Products</span>
                            <p class="margin-bot3">We at Innotech Labs offer a wide range of Printers & Toners that suites your everyday needs. We provide our customers a safe and convenient place to purchase products with no compromise on quality. Browse our product catalog or visit our online store now at 
                                <a href="http://www.innotech-store.com/" target="new">www.innotech-store.com</a>
                            </p>
                            <a href="#" class="button-2">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>

            <article class="grid_3">
                <h3 class="margin-bot2">Projects</h3>
                <div class="box-content2">
                    <div class="wrapper">
                        <div class="col-10 col-md-12">
                            <div class="slider-container2">
                                <div class="slides2">
                                    <!-- Slide 1 -->
                                    @* <div class="slide2">
                                        <!-- Slide content -->
                                        <img src="/Assets/AKS Pending.png" width="400" height="250" alt="Slide 6">
                                    </div> *@
                                        
                                    @* @foreach (var projectTaskDetails in Model.ProjectTaskDetailsList)
                                    {
                                        var totalTasks = projectTaskDetails.Tasks.Count();
                                        var pendingTasks = projectTaskDetails.Tasks.Count(t => t.Status == "Pending");
                                        var planningTasks = projectTaskDetails.Tasks.Count(t => t.Status == "Planning");
                                        var delayedTasks = projectTaskDetails.Tasks.Count(t => t.Status == "Delayed");
                                        var blockedTasks = projectTaskDetails.Tasks.Count(t => t.Status == "Blocked");
                                        var completedTasks = projectTaskDetails.Tasks.Count(t => t.Status == "Completed");
                                        var percentagePending = (double)pendingTasks / totalTasks * 100;
                                        var percentagePlanning = (double)planningTasks / totalTasks * 100;
                                        var percentageDelayed = (double)delayedTasks / totalTasks * 100;
                                        var percentageBlocked = (double)blockedTasks / totalTasks * 100;
                                        var percentageCompleted = (float)completedTasks / totalTasks * 100;
                                        var completionRate = (double)completedTasks / totalTasks * 100;
                                        string percentagePendingString = percentagePending.ToString("F2"); // Displays two decimal places
                                        string percentagePlanningString = percentagePlanning.ToString("F2"); // Displays two decimal places
                                        string percentageDelayedString = percentageDelayed.ToString("F2"); // Displays two decimal places
                                        string percentageBlockedString = percentageBlocked.ToString("F2"); // Displays two decimal places
                                        string percentageCompletedString = percentageCompleted.ToString("F2"); // Displays two decimal places
                                        string completionRateString = completionRate.ToString("F2"); // Displays two decimal places

                                        var ongoingTasks = pendingTasks + delayedTasks + blockedTasks + planningTasks;

                                        <div class="card">
                                            <h2 class="d-flex justify-content-between align-items-center">
                                                <span>
                                                    @projectTaskDetails.Project.Name
                                                    @if (projectTaskDetails.Project.Status == ProjectStatus.Completed)
                                                    {
                                                        <span class="badge badge-success">COMPLETED</span>
                                                    }
                                                    else if (projectTaskDetails.Project.Status == ProjectStatus.Pending)
                                                    {
                                                        <span class="badge badge-secondary">PENDING</span>
                                                    }
                                                    else if (projectTaskDetails.Project.Status == ProjectStatus.Planning)
                                                    {
                                                        <span class="badge badge-info">PLANNING</span>
                                                    }
                                                    else if (projectTaskDetails.Project.Status == ProjectStatus.Delayed)
                                                    {
                                                        <span class="badge badge-warning">DELAYED</span>
                                                    }
                                                    else if (projectTaskDetails.Project.Status == ProjectStatus.Blocked)
                                                    {
                                                        <span class="badge badge-danger">BLOCKED</span>
                                                    }
                                                </span>
                                                <div class="card-tools">
                                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                </div>
                                            </h2>

                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <p class="text-center">
                                                            <strong>Project Start Date: </strong>
                                                            <span><strong>@projectTaskDetails.Project.StartDate.ToString("dd - MMMMMMMMM - yyyy")</strong></span>
                                                        </p>
                                                        <p class="text-center">
                                                            <strong>Person In Charge: </strong>
                                                            <span><strong>@projectTaskDetails.Project.PIC</strong></span>
                                                        </p>
                                                        <div class="card-body">
                                                            <canvas id="@($"projectStatusChart_{projectTaskDetails.Project.Id}")" height="180" style="height: 180px;"></canvas>
                                                        </div>
                                                        <!-- /.chart-responsive -->
                                                    </div>
                                                    <!-- /.col -->
                                                    <div class="col-md-4">
                                                        <p class="text-center">
                                                            <strong>Project Health</strong>
                                                        </p>
                                                        <div>
                                                            <span class="description-text">PROJECT HEALTH</span>
                                                        </div>
                                                    </div>
                                                    <!-- /.col -->
                                                </div>
                                                <!-- /.row -->
                                            </div>
                                        </div>

                                        <script>
                                            document.addEventListener('DOMContentLoaded', function () {
                                                var ctx_@projectTaskDetails.Project.Id = document.getElementById('@($"projectStatusChart_{projectTaskDetails.Project.Id}")').getContext('2d');
                                                var taskStatusChart_@projectTaskDetails.Project.Id = new Chart(ctx_@projectTaskDetails.Project.Id, {
                                                    type: 'doughnut',
                                                    data: {
                                                        labels: ['Planning', 'Pending', 'Delayed', 'Blocked', 'Completed'],
                                                        datasets: [{
                                                            label: 'Number of Tasks',
                                                            data: [
                                            @projectTaskDetails.Tasks.Count(t => t.Status == "Planning"),
                                            @projectTaskDetails.Tasks.Count(t => t.Status == "Pending"),
                                            @projectTaskDetails.Tasks.Count(t => t.Status == "Delayed"),
                                            @projectTaskDetails.Tasks.Count(t => t.Status == "Blocked"),
                                            @projectTaskDetails.Tasks.Count(t => t.Status == "Completed")
                                                                                                                                                ],
                                                            backgroundColor: [
                                                                'rgba(0, 128, 128, 1)',
                                                                'rgba(75, 0, 130, 1)',
                                                                'rgba(255, 165, 0, 1)',
                                                                'rgba(255, 0, 0, 1)', // Danger color (red)
                                                                'rgba(0, 128, 0, 1)' // Success color (green)

                                                            ],
                                                            borderColor: [
                                                                'rgba(0, 128, 128, 1)',
                                                                'rgba(75, 0, 130, 1)',
                                                                'rgba(255, 165, 0, 1)',
                                                                'rgba(255, 0, 0, 1)', // Danger color (red)
                                                                'rgba(0, 128, 0, 1)' // Success color (green)
                                                            ],
                                                            borderWidth: 1
                                                        }]
                                                    },
                                                    options: {
                                                        scales: {
                                                            y: {
                                                                beginAtZero: true
                                                            }
                                                        }
                                                    }
                                                });
                                            });
                                        </script>                                           
                                    } *@

                                    @* <div class="slide2">
                                        <!-- Slide content -->
                                        <canvas id="pieChart" width="300" height="300"></canvas>
                                    </div> *@

                                    @* <!-- Slide 2 -->
                                    <div class="slide2">
                                    <!-- Slide content -->
                                    <img src="/Assets/MSFM Planning.png" width="400" height="250" alt="Slide 7">
                                    </div> *@

                                    @* <div class="slide2">
                                        <!-- Slide content -->
                                        <canvas id="pieChart2" width="300" height="300"></canvas>
                                    </div> *@

                                    @* <!-- Slide 3 -->
                                    <div class="slide2">
                                    <!-- Slide content -->
                                    <img src="/Assets/MVSC Planning.png" width="400" height="250" alt="Slide 8">
                                    </div> *@

                                    @* <div class="slide2">
                                        <!-- Slide content -->
                                        <canvas id="pieChart3" width="300" height="300"></canvas>
                                    </div> *@

                                    @* <!-- Slide 4 -->
                                    <div class="slide2">
                                    <!-- Slide content -->
                                    <img src="/Assets/OVIS Pending.png" width="400" height="250" alt="Slide 9">
                                    </div> *@

                                    @* <div class="slide2">
                                        <!-- Slide content -->
                                        <canvas id="pieChart4" width="300" height="300"></canvas>
                                    </div> *@

                                    <!-- Slide 5 -->
                                    @* <div class="slide2">
                                    <!-- Slide content -->
                                    <img src="/Assets/Project1.jpeg" width="300" height="100" alt="Slide 5">
                                    </div> *@

                                    @* <div class="slide2">
                                        <!-- Slide content -->
                                        <canvas id="pieChart5" width="300" height="300"></canvas>
                                    </div> *@

                                </div>
                                <!-- Buttons for navigation -->
                                <button class="prev" onclick="moveSlide2(-1)">❮</button>
                                <button class="next" onclick="moveSlide2(1)">❯</button>
                                <!-- Indicators -->
                                <div class="carousel-indicators2">
                                    <button class="active" onclick="currentSlide2(1)"></button>
                                    <button onclick="currentSlide2(2)"></button>
                                    <button onclick="currentSlide2(3)"></button>
                                    <button onclick="currentSlide2(4)"></button>
                                    <button onclick="currentSlide2(5)"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="footer-about">
                        <div class="about-logo">
                            <a href="/Index"></a>
                            <img src="~/Assets/Company Logo.png" width="350" height="90"/>
                        </div>

                        <ul>
                            <li>
                                <i class="fas fa-map-marker-alt"></i> Address: <br>
                                Suite 5-17, Staircase 4,
                                Pusat Perdagangan KLH,
                                Bandar Puchong Jaya,
                                47100 Puchong,
                                Selangor
                            </li>
                            <li>
                                <i class="fas fa-phone"></i> Phone: +60 16-398 2262
                            </li>
                            <li>
                                <i class="fas fa-envelope"></i> Email: info@innotechlabs.com.my
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Useful Links</h5>
                        <ul class="info-icons">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Products</a></li>
                            <li><a href="#">Innostore</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Return & Refund</a></li>                            
                        </ul>
                        <ul class="info-icons">
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Method</a></li>
                            <li><a href="#">Our Project</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>                 
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <ul class="social-icons">
                        <h5>Visit Us at</h5>
                        <div class="link-1">
                            <a href="https://facebook.com"><i class="fab fa-facebook"></i>   Facebook</a>
                        </div>

                        <div class="link-2">
                            <a href="#"><i class="fab fa-instagram"></i>   Instagram</a>
                        </div>

                        <div class="link-3">
                            <a href="https://www.twitter.com"><i class="fab fa-twitter"></i>   Twitter</a>
                        </div>

                        <div class="link-4">
                            <a href="#"><i class="fab fa-tiktok"></i>   Tiktok</a>
                        </div>
                    </ul>
                </div>

                <div class="container-fluid px-0 py-3 bg-secondary">
                    <div class="col-md-12">
                        <p style="color: black;">&copy; 2024 Powered by InnotechLabs. All rights reserved.</p>
                    </div>
                </div>              
            </div>
        </div>
    </footer>

    <script>
        let slideIndex = 0;
        const slides = document.querySelector('.slides');
        const indicators = document.querySelectorAll('.carousel-indicators button');

        function showSlides() {
            const slidesCount = slides.children.length;
            for (let i = 0; i < indicators.length; i++) {
                indicators[i].classList.remove('active');
            }
            slideIndex++;
            if (slideIndex > slidesCount) { slideIndex = 1 }
            slides.style.transform = 'translateX(' + (-100 * (slideIndex - 1)) + '%)';
            indicators[slideIndex - 1].classList.add('active');
            setTimeout(showSlides, 3000); // Change slide every 3 seconds
        }

        function moveSlide(n) {
            slideIndex += n;
            if (slideIndex < 1) { slideIndex = slides.children.length }
            if (slideIndex > slides.children.length) { slideIndex = 1 }
            updateSlides();
        }

        function currentSlide(n) {
            slideIndex = n;
            updateSlides();
        }

        function updateSlides() {
            for (let i = 0; i < indicators.length; i++) {
                indicators[i].classList.remove('active');
            }
            slides.style.transform = 'translateX(' + (-100 * (slideIndex - 1)) + '%)';
            indicators[slideIndex - 1].classList.add('active');
        }

        showSlides(); // Initial call to start the slider

        let slideIndex2 = 0;
        const slides2 = document.querySelector('.slides2');
        const indicators2 = document.querySelectorAll('.carousel-indicators2 button');

        function showSlides2() {
            const slidesCount2 = slides2.children.length;
            for (let i = 0; i < indicators2.length; i++) {
                indicators2[i].classList.remove('active');
            }
            slideIndex2++;
            if (slideIndex2 > slidesCount2) { slideIndex2 = 1 }
            slides2.style.transform = 'translateX(' + (-100 * (slideIndex2 - 1)) + '%)';
            indicators2[slideIndex2 - 1].classList.add('active');
            setTimeout(showSlides2, 5000); // Change slide every 3 seconds
        }

        function moveSlide2(n) {
            slideIndex2 += n;
            if (slideIndex2 < 1) { slideIndex2 = slides2.children.length }
            if (slideIndex2 > slides2.children.length) { slideIndex2 = 1 }
            updateSlides2();
        }

        function currentSlide2(n) {
            slideIndex2 = n;
            updateSlides2();
        }

        function updateSlides2() {
            for (let i = 0; i < indicators2.length; i++) {
                indicators2[i].classList.remove('active');
            }
            slides2.style.transform = 'translateX(' + (-100 * (slideIndex2 - 1)) + '%)';
            indicators2[slideIndex2 - 1].classList.add('active');
        }

        showSlides2(); // Initial call to start the slider

        // JavaScript for creating pie chart on each slide
        // const pieChartOptions = {
        //     type: 'pie',
        //     data: {
        //         labels: ['Label 1', 'Label 2', 'Label 3', 'Label 4'],
        //         datasets: [{
        //             label: 'Pie Chart',
        //             data: [30, 20, 25, 25], // Example data, replace with your own
        //             backgroundColor: [
        //                 'rgba(255, 99, 132, 0.7)',
        //                 'rgba(54, 162, 235, 0.7)',
        //                 'rgba(255, 206, 86, 0.7)',
        //                 'rgba(75, 192, 192, 0.7)'
        //             ],
        //             borderColor: [
        //                 'rgba(255, 99, 132, 1)',
        //                 'rgba(54, 162, 235, 1)',
        //                 'rgba(255, 206, 86, 1)',
        //                 'rgba(75, 192, 192, 1)'
        //             ],
        //             borderWidth: 1
        //         }]
        //     },
        //     options: {
        //         // Add options here if needed
        //     }
        // };

        // const pieChart1 = new Chart(document.getElementById('pieChart1').getContext('2d'), pieChartOptions);
        // const pieChart2 = new Chart(document.getElementById('pieChart2').getContext('2d'), pieChartOptions);
        // const pieChart3 = new Chart(document.getElementById('pieChart3').getContext('2d'), pieChartOptions);
        // const pieChart4 = new Chart(document.getElementById('pieChart4').getContext('2d'), pieChartOptions);
        // const pieChart5 = new Chart(document.getElementById('pieChart5').getContext('2d'), pieChartOptions);

        // // Add more pie charts as needed for each slide

    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
