@model IEnumerable<iTEMS.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="card-header" >
    <h3 class="card-title">Employee List</h3>
</div>
<div class="card-body" style="display:none">
                <p>
                    <a class="btn btn-primary" asp-action="Create">Add New Employee</a>
                </p>
                    <table id="example1" class="table table-bordered table-striped" style="width: 1350px;">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EmpNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Department)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Designation)
                        </th>                        
                        <th>
                            @Html.DisplayNameFor(model => model.DateofBirth)
                        </th>                     
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Country)
                        </th>
                        <th>
                            Actions
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedOn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ModifiedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ModifiedOn)
                        </th>
                    </tr>
                    </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmpNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Designation)
                        </td>                       
                        <td>
                            @Html.DisplayFor(modelItem => item.DateofBirth)
                        </td>                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>    
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            <a asp-action="Edit" class="btn btn-warning" title="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a> |
                            <a asp-action="Details" class="btn btn-info" title="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a> |
                            <a asp-action="Delete" class="btn btn-danger" title="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedOn)
                        </td>
                    </tr>
            }
                </tbody>
                    </table>
        </div>


<div class="card-body">
    <p>
        <a class="btn btn-primary" asp-action="Create">Add New Employee</a>
    </p>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    <div class="card-header text-muted border-bottom-0">
                        @Html.DisplayFor(modelItem => item.Designation)
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-7">
                                <h2 class="lead"><b>@Html.DisplayFor(modelItem => item.FullName)</b></h2>
                                <p class="text-muted text-sm"><b>About: </b>@Html.DisplayFor(modelItem => item.Department) / @Html.DisplayFor(modelItem => item.Designation)</p>
                                <p class="text-muted text-sm"><b>Email: </b>@Html.DisplayFor(modelItem => item.Email)
                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                    <li class="small">
                                        <span class="fa-li"><i class="fas fa-lg fa-building"></i></span>
                                        <strong>Address:</strong>&nbsp; @Html.DisplayFor(modelItem => item.Address), @Html.DisplayFor(modelItem => item.Country)
                                    </li>
                                    <br />
                                    <li class="small">
                                        <span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
                                        <strong>Phone:</strong>&nbsp; @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </li>
                                </ul>
                            </div>
                            <div class="col-5 text-center">
                                <img src="~/path/to/default-avatar.jpg" alt="user-avatar" class="img-circle img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-right">
                            <a asp-action="Details" class="btn btn-sm btn-primary" title="View User Details"><i class="fas fa-user"></i> View Details</a>
                            <a asp-action="Edit" class="btn btn-sm btn-warning" title="Edit User Details" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a asp-action="Delete" class="btn btn-sm btn-danger" title="Delete User" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

